@page "/{date:datetime?}"

@using Common.DTO.ProjectTime
@using EduWork.UI.Components.ProjectTime
@using Microsoft.AspNetCore.Authorization

@inject HttpClient Http

@attribute [Authorize]

<PageTitle>@INPUT_PROJECT_TIME_TITLE</PageTitle>

<div class="flex-container">

    <div class="form-section glass">
        <EditForm EditContext="@editContext" OnValidSubmit="@Submit" class="@(updateForm ? "edit-mode" : "")">
            <DataAnnotationsValidator />
            <ValidationSummary class="alert alert-danger" />

            <div class="form-group mb-3 d-flex horizontal-flex">
                <div class="workdayFlex">
                    <label for="date">@WORKDAY_INPUT_LABEL</label>

                    <div class="input-group">
                        <button type="button" id="subtractDateButton" @onclick="() => ChangeDate(-1)" disabled="@(updateForm)">
                            <span><i class="bi bi-caret-left-fill"></i></span>
                        </button>
                        <InputDate id="date" @bind-Value="projectTimeRequest.DateWorkDay" @oninput="HandleDateInput" class="form-control" disabled="@(updateForm)" />
                        <button type="button" id="addDateButton" @onclick="() => ChangeDate(1)" disabled="@(updateForm)">
                            <span><i class="bi bi-caret-right-fill"></i></span>
                        </button>
                    </div>

                    <ValidationMessage For="@(() => projectTimeRequest.DateWorkDay)" />
                </div>

                <div class="divFlex">
                    <label for="titleProject">@PROJECT_INPUT_LABEL</label>
                    <InputSelect id="titleProject" @bind-Value="projectTimeRequest.TitleProject" class="form-control">
                        @if (projects == null)
                        {
                            <option>@LOADING_LABEL</option>
                        }
                        else
                        {
                            @foreach (var project in projects)
                            {
                                <option value="@project.Title">@project.Title</option>
                            }
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => projectTimeRequest.TitleProject)" />
                </div>

                <div>
                    <label></label>
                    <InputTextArea id="comment" @bind-Value="projectTimeRequest.Comment" class="form-control" rows="1" placeholder="@COMMENT_INPUT_LABEL" />
                    <ValidationMessage For="@(() => projectTimeRequest.Comment)" />
                </div>

                <div class="timeSpentField">
                    <label for="timeSpentHours">@HOURS_INPUT_LABEL</label>
                    <InputNumber id="timeSpentHours" @bind-Value="hours" class="form-control" min="0" required @oninput="UpdateTime" />
                </div>

                <div class="timeSpentField">
                    <label for="timeSpentMinutes">@MINUTES_INPUT_LABEL</label>
                    <InputNumber id="timeSpentMinutes" @bind-Value="minutes" class="form-control" min="0" max="59" required @oninput="UpdateTime" />
                </div>

                <div class="range-container">
                    <input type="range" id="timeSpentMinutesRange" @bind="rangeValue" @oninput="UpdateTimeFromRange" class="form-range" min="1" max="480" step="1" />
                </div>

                <div class="formBtn">
                    <button type="submit" class="btn btn-primary me-2">@SUBMIT_BUTTON_TEXT</button>
                </div>

                <div class="formBtn">
                    <button type="button" class="btn btn-secondary" @onclick="ClearForm">@CLEAR_BUTTON_TEXT</button>
                </div>
            </div>
        </EditForm>
    </div>

    <div class="table-section glass">
        @if (nonWorkingDay)
        {
            <div id="nonWorkingDayDiv">@ITS_NON_WORKING_DAY</div>
        }
        else if (isLoading || InputProjectTimeResponseDto == null)
        {
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <p class="mx-3">@LOADING_LABEL</p>
            </div>
        }
        else
        {
            <div class="summary-container">
                @{
                    var (progressClass, progressPercentage, completeLabel) = GetProgessColor(InputProjectTimeResponseDto.SumTimeSpentHours, InputProjectTimeResponseDto.SumTimeSpentMinutes);
                }

                <div class="progress">
                    <div class="progress-bar @progressClass" role="progressbar" aria-valuenow="100"
                         aria-valuemin="0" aria-valuemax="100" style="width:@progressPercentage%">
                        @completeLabel% Complete
                    </div>
                </div>

                <div class="divSumOfTimeSpent">
                    @if (overtime == null)
                    {
                        <span class="spanSumOfTimeSpent">@LOADING_LABEL</span>
                    }
                    else
                    {
                        <span class="spanSumOfTimeSpent">
                            <label class="labelSumOfTimeSpent">@LABEL_OVERTIME</label>
                            <span>@overtime.OvertimeHours</span> h : <span>@overtime.OvertimeMinutes</span> min
                        </span>
                    }
                </div>

                <div class="divSumOfTimeSpent">
                    <span class="spanSumOfTimeSpent">
                        <label class="labelSumOfTimeSpent">@SUM_TIME_SPENT</label>
                        <span>@InputProjectTimeResponseDto.SumTimeSpentHours</span> h : <span>@InputProjectTimeResponseDto.SumTimeSpentMinutes</span> min
                    </span>
                </div>


            </div>

            <InputProjectTimeTableComponent projectTimeTableData="InputProjectTimeResponseDto?.InputProjectTimeDto" OnLoadData="LoadData" OnEditData="EditData" />
        }
    </div>
</div>

@code {
    private const string INPUT_PROJECT_TIME_TITLE = "Project Time Entry";
    private const string WORKDAY_INPUT_LABEL = "Workday: ";
    private const string PROJECT_INPUT_LABEL = "Project: ";
    private const string COMMENT_INPUT_LABEL = "Comment: ";
    private const string HOURS_INPUT_LABEL = "Hours: ";
    private const string MINUTES_INPUT_LABEL = "Minutes: ";
    private const string SUBMIT_BUTTON_TEXT = "Submit";
    private const string CLEAR_BUTTON_TEXT = "Clear";
    private const string NO_DATA_FOR_THIS_DAY = "No records for this day";
    private const string SUM_TIME_SPENT = "Total: ";
    private const string LABEL_OVERTIME = " Overtime: ";
    private const string LOADING_LABEL = "Loading data...";
    private const string ITS_NON_WORKING_DAY = "This is a non-working day!";

    private const string GET_ENDPOINT = "api/ProjectTimes?";
    private const string POST_ENDPOINT = "api/ProjectTimes";
    private const string GET_PROJECTS_ENDPOINT = "api/ProjectTimes/projects";
    private const string GET_OVERTIME_ENDPOINT = "api/ProjectTimes/overtime";
    private const string PUT_ENDPOINT = "api/ProjectTimes/";
    private const string DATE_FORMAT = "yyyy-MM-ddTHH:mm:ss";
    private const string ZERO_HOURS_COLOR = "lightcoral";
    private const string BETWEEN_ZERO_AND_FULL_TIME_COLOR = "lightgoldenrodyellow";
    private const string FULL_TIME_COLOR = "lightgreen";

    [Parameter]
    public DateTime? date { get; set; }

    public bool updateForm { get; set; }

    public bool nonWorkingDay { get; set; } = false;

    public InputProjectTimeDto? ProjectTimeLog { get; set; }
    private InputProjectTimeResponseDto? InputProjectTimeResponseDto;

    private List<ProjectSmallDto>? projects;

    public ProjectTimeRequestDto projectTimeRequest = new ProjectTimeRequestDto();

    public OvertimeDto? overtime;

    private EditContext? editContext;

    private int hours;
    private int minutes;

    private bool isLoading = false;

    private int rangeValue
    {
        get => (hours * 60) + minutes;
        set
        {
            hours = value / 60;
            minutes = value % 60;
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        if (!date.HasValue)
        {
            date = DateTime.UtcNow.Date;
        }

        projectTimeRequest.DateWorkDay = date.Value;

        await LoadData();
    }

    protected override async Task OnInitializedAsync()
    {
        editContext = new EditContext(projectTimeRequest);

        projectTimeRequest.TimeSpentMinutes = 450;
        hours = projectTimeRequest.TimeSpentMinutes / 60;
        minutes = projectTimeRequest.TimeSpentMinutes % 60;

        await LoadData();
    }

    private async Task GetProjects()
    {
        projects = await Http.GetFromJsonAsync<List<ProjectSmallDto>>(GET_PROJECTS_ENDPOINT);
        projectTimeRequest.TitleProject = projects?[0].LastChosenTitle;
    }

    private async Task LoadData()
    {
        isLoading = true;
        if (projectTimeRequest.DateWorkDay.DayOfWeek != DayOfWeek.Saturday && projectTimeRequest.DateWorkDay.DayOfWeek != DayOfWeek.Sunday && projectTimeRequest.DateWorkDay <= DateTime.Today)
        {
            nonWorkingDay = false;

            try
            {
                await GetProjects();

                string parameters = $"userWorkDay={projectTimeRequest.DateWorkDay.ToString(DATE_FORMAT)}";

                InputProjectTimeResponseDto = await Http.GetFromJsonAsync<InputProjectTimeResponseDto>(GET_ENDPOINT + parameters);
                overtime = await Http.GetFromJsonAsync<OvertimeDto>(GET_OVERTIME_ENDPOINT);
                isLoading = false;

                editContext?.NotifyFieldChanged(FieldIdentifier.Create(() => projectTimeRequest.DateWorkDay));

                StateHasChanged();
            }
            catch (Exception ex)
            {
                Console.Error.WriteLine($"Error fetching projectTime: {ex.Message}");
            }
            finally
            {
                isLoading = false;
            }
        }
        else
        {
            nonWorkingDay = true;
        }
    }

    private void EditData(InputProjectTimeDto projectTimeLog)
    {
        ProjectTimeLog = projectTimeLog;
        projectTimeRequest.TitleProject = projectTimeLog.TitleProject;
        projectTimeRequest.TimeSpentMinutes = projectTimeLog.TimeSpentMinutes;
        projectTimeRequest.Comment = projectTimeLog.Comment;

        hours = projectTimeLog.TimeSpentMinutes / 60;
        minutes = projectTimeLog.TimeSpentMinutes % 60;

        updateForm = true;
    }

    private async void HandleDateInput(ChangeEventArgs args)
    {
        if (args.Value != null)
        {
            projectTimeRequest.DateWorkDay = Convert.ToDateTime(args.Value);

            editContext?.NotifyFieldChanged(FieldIdentifier.Create(() => projectTimeRequest.DateWorkDay));

            await LoadData();
        }
    }

    private void UpdateTime()
    {
        projectTimeRequest.TimeSpentMinutes = (hours * 60) + minutes;
    }

    private void UpdateTimeFromRange(ChangeEventArgs args)
    {
        rangeValue = Convert.ToInt32(args.Value);
        projectTimeRequest.TimeSpentMinutes = rangeValue;
    }

    private async void ChangeDate(int change)
    {
        if (projectTimeRequest.DateWorkDay < DateTime.Today || (projectTimeRequest.DateWorkDay == DateTime.Today && change < 0))
        {
            projectTimeRequest.DateWorkDay = projectTimeRequest.DateWorkDay.AddDays(change);

            editContext?.NotifyFieldChanged(FieldIdentifier.Create(() => projectTimeRequest.DateWorkDay));

            await LoadData();
        }
    }

    private (string color, int percentage, int completeLabel) GetProgessColor(int hours, int minutes)
    {
        var totalMinutes = hours * 60 + minutes;

        if (totalMinutes >= 480)
        {
            return ("bg-success", 100, 100);
        }

        else if (totalMinutes > 0)
        {
            int percentage = (totalMinutes * 100) / 480;
            return ("bg-warning", percentage, percentage);
        }
        else
        {
            return ("bg-danger", 100, 0);
        }
    }

    private async void ClearForm()
    {
        updateForm = false;

        projectTimeRequest = new ProjectTimeRequestDto();
        projectTimeRequest.DateWorkDay = DateTime.Today;
        hours = 7;
        minutes = 30;

        await GetProjects();
        await LoadData();
    }

    private async Task Submit()
    {
        try
        {
            projectTimeRequest.TimeSpentMinutes = (hours * 60) + minutes;

            if (!updateForm)
            {
                var response = await Http.PostAsJsonAsync(POST_ENDPOINT, projectTimeRequest);

                if (!response.IsSuccessStatusCode)
                {
                    throw new HttpRequestException($"Request failed with status code {response.StatusCode}");
                }
            }
            else
            {
                var response = await Http.PutAsJsonAsync(PUT_ENDPOINT + ProjectTimeLog?.Id, projectTimeRequest);

                if (!response.IsSuccessStatusCode)
                {
                    throw new HttpRequestException($"Request failed with status code {response.StatusCode}");
                }

                updateForm = false;
            }
            await LoadData();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Exception: {ex.Message}");
        }
    }
}