@using Common.DTO
@using Common.DTO.ProjectTime

@inject NavigationManager NavigationManager
@inject HttpClient Http

<div class="smallGrid">
    <div class="divClass">
        @if (isAdmin)
        {
            <div class="flex-container">
                <h3>@INPUT_HISTORY_OF_USER_TITLE</h3>

                @if (usernames == null)
                {
                    <p>@LOADING_LABEL</p>
                }
                else
                {
                    <InputSelect class="form-control fixed-size" @bind-Value="filterUsername" id="username" @oninput="FilterUser">
                        @foreach (var user in usernames)
                        {
                            <option value="@user.Username">@user.Username</option>
                        }
                    </InputSelect>
                }
            </div>
        }

        <div class="filter">
            <button type="button" class="btn @(selectedDateFilter == 1 ? "btn-primary" : "btn-secondary")" @onclick="() => FilterDate(1)">@LAST_MONTH_BUTTON_TEXT</button>
            <button type="button" class="btn @(selectedDateFilter == 2 ? "btn-primary" : "btn-secondary")" @onclick="() => FilterDate(2)">@CURRENT_MONTH_BUTTON_TEXT</button>
            <button type="button" class="btn @(selectedDateFilter == 3 ? "btn-primary" : "btn-secondary")" @onclick="() => FilterDate(3)">@CURRENT_QUARTER_BUTTON_TEXT</button>
        </div>
    </div>

    <div class="divClass">
        <div class="flex-container">
            <ul class="filter">
                <li class="legendItem">
                    <span class="legend-circle red"></span>
                    <span>@ZERO_HOURS_TEXT</span>
                </li>

                <li class="legendItem">
                    <span class="legend-circle lightyellow"></span>
                    <span>@BETWEEN_ZERO_AND_EIGHT_HOURS_TEXT</span>
                </li>

                <li class="legendItem">
                    <span class="legend-circle forestgreen"></span>
                    <span>@MORE_THAN_EIGHT_HOURS_TEXT</span>
                </li>

                <li class="legendItem">
                    <span class="legend-circle gray"></span>
                    <span>@NON_WORKING_DAY_OR_HOLIDAY_TEXT</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<br />
<div class="divClass">
    <div class="row">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center">@WORKDAY_TABLE_LABEL</th>
                    <th class="text-center">@SUM_OF_TIME_SPENT_TABLE_LABEL</th>
                    <th class="text-center">@PROJECTS_TABLE_LABEL</th>
                </tr>
            </thead>
            <tbody>
                @if (projectTimeHistoryDto == null)
                {
                    <tr>
                        <td class="text-center"><em>@LOADING_LABEL</em></td>
                    </tr>
                }
                else
                {
                    @foreach (var projectTimeLog in projectTimeHistoryDto)
                    {
                        var rowColor = GetRowColor(projectTimeLog.SumTimeSpentHours, projectTimeLog.SumTimeSpentMinutes, projectTimeLog.IsNonWorkingDay);
                        <tr style="background-color:@(rowColor)" @onclick="() => ToggleRow(projectTimeLog!)">
                            <td class="text-center">
                                @if (projectTimeLog.IsNonWorkingDay)
                                {
                                    @projectTimeLog.DateWorkDay
                                }
                                else
                                {
                                    if (!isAdmin && projectTimeLog.DateWorkDay <= DateOnly.FromDateTime(DateTime.Today))
                                    {
                                        <a href="@(@INPUT_PROJECT_TIME_NAVIGATION + projectTimeLog.DateWorkDay.ToString("MM-dd-yyyy"))">
                                            @projectTimeLog.DateWorkDay
                                        </a>
                                    }
                                    else
                                    {
                                        @projectTimeLog.DateWorkDay
                                    }
                                }
                            </td>

                            @if (projectTimeLog?.ProjectTitles == null || projectTimeLog.IsNonWorkingDay == true)
                            {
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                            }
                            else
                            {
                                <td class="text-center">
                                    <span>@projectTimeLog.SumTimeSpentHours</span> h :
                                    <span>@projectTimeLog.SumTimeSpentMinutes</span> min
                                </td>

                                <td class="text-center">@string.Join(", ", projectTimeLog.ProjectTitles)</td>
                            }
                        </tr>

                        @if (expandedRow == projectTimeLog)
                        {
                            if (isAdmin)
                            {
                                <InputHistoryDetailsTable ProjectTimeDate="@projectTimeLog!.DateWorkDay" RowColor=@rowColor SelectUsername=@filterUsername></InputHistoryDetailsTable>
                            }
                            else
                            {
                                <InputHistoryDetailsTable ProjectTimeDate="@projectTimeLog!.DateWorkDay" RowColor=@rowColor></InputHistoryDetailsTable>
                            }

                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    private const string INPUT_HISTORY_OF_USER_TITLE = "User Input History: ";
    private const string MY_INPUT_HISTORY_TITLE = "My Input History";
    private const string LAST_MONTH_BUTTON_TEXT = "Last Month";
    private const string CURRENT_MONTH_BUTTON_TEXT = "Current Month";
    private const string CURRENT_QUARTER_BUTTON_TEXT = "Current Quarter";
    private const string ZERO_HOURS_TEXT = "0h";
    private const string BETWEEN_ZERO_AND_EIGHT_HOURS_TEXT = "Between 0h and 8h";
    private const string MORE_THAN_EIGHT_HOURS_TEXT = "More than 8h";
    private const string NON_WORKING_DAY_OR_HOLIDAY_TEXT = "Non-working Day / Holiday";
    private const string WORKDAY_TABLE_LABEL = "Workday";
    private const string PROJECT_TABLE_LABEL = "Project";
    private const string TIME_SPENT_TABLE_LABEL = "Time Spent";
    private const string COMMENT_TABLE_LABEL = "Comment";
    private const string SUM_OF_TIME_SPENT_TABLE_LABEL = "Total Time Spent";
    private const string INPUT_PROJECT_TIME_NAVIGATION = "/";
    private const string LOADING_LABEL = "Loading data...";
    private const string PROJECTS_TABLE_LABEL = "Projects";

    private const string GET_USERNAMES_ENDPOINT = "api/ProjectTimes/usernames";
    private const string LAST_MONTH_PARAMS = "?lastMonth=true";
    private const string THIS_MONTH_PARAMS = "?thisMonth=true";
    private const string THIS_QUARTER_PARAMS = "?thisQuarter=true";
    private const string NON_WORKING_DAY_COLOR = "lightgray";
    private const string ZERO_HOURS_COLOR = "lightcoral";
    private const string BETWEEN_ZERO_AND_FULL_TIME_COLOR = "lightgoldenrodyellow";
    private const string FULL_TIME_COLOR = "lightgreen";

    [Parameter]
    public string? ApiEndpoint { get; set; }

    [CascadingParameter]
    public bool isAdmin { get; set; }

    private List<UsernamesDto>? usernames;

    private List<ProjectTimeHistoryDto>? projectTimeHistoryDto;
    private ProjectTimeHistoryDto? expandedRow;

    private int selectedDateFilter = 2;
    private string filterUsername = string.Empty;
    private string parameters = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        if (isAdmin)
        {
            usernames = await Http.GetFromJsonAsync<List<UsernamesDto>>(GET_USERNAMES_ENDPOINT);

            filterUsername = usernames!.First().Username!;

            parameters = $"?username={filterUsername}";
        }

        parameters = parameters + "";

        await LoadData(parameters);
    }

    private async Task LoadData(string parameters)
    {
        try
        {
            if (isAdmin)
                projectTimeHistoryDto = await Http.GetFromJsonAsync<List<ProjectTimeHistoryDto>>($"{ApiEndpoint}{parameters}");
            else
                projectTimeHistoryDto = await Http.GetFromJsonAsync<List<ProjectTimeHistoryDto>>($"{ApiEndpoint}{parameters}");
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Error fetching projectTime: {ex.Message}");
        }

        StateHasChanged();
    }

    private async void FilterDate(int filterDate)
    {
        selectedDateFilter = filterDate;
        parameters = string.Empty;

        if (filterDate == 1)
        {
            parameters = LAST_MONTH_PARAMS;
        }
        else if (filterDate == 2)
        {
            parameters = THIS_MONTH_PARAMS;
        }
        else if (filterDate == 3)
        {
            parameters = THIS_QUARTER_PARAMS;
        }

        if (isAdmin)
        {
            parameters = parameters + $"&username={filterUsername}";
        }

        await LoadData(parameters);
    }

    private async void FilterUser(ChangeEventArgs e)
    {
        filterUsername = e.Value?.ToString() ?? string.Empty;
        parameters = $"?username={filterUsername}";

        selectedDateFilter = 2;

        await LoadData(parameters);
    }

    private void ToggleRow(ProjectTimeHistoryDto projectTimeLog)
    {
        if (expandedRow == projectTimeLog)
        {
            expandedRow = null;
        }
        else if (projectTimeLog.IsNonWorkingDay == true || projectTimeLog.DateWorkDay.DayOfWeek == DayOfWeek.Saturday
            || projectTimeLog.DateWorkDay.DayOfWeek == DayOfWeek.Sunday || projectTimeLog.SumTimeSpentMinutes == 0 && projectTimeLog.SumTimeSpentHours == 0)
        {
            expandedRow = null;
        }
        else
        {
            expandedRow = projectTimeLog;
        }
    }

    private string GetRowColor(int hours, int minutes, bool isNonWorkingDay)
    {
        var totalMinutes = hours * 60 + minutes;

        if (isNonWorkingDay)
        {
            return NON_WORKING_DAY_COLOR;
        }
        else if (totalMinutes == 0)
        {
            return ZERO_HOURS_COLOR;
        }
        else if (totalMinutes >= 480)
        {
            return FULL_TIME_COLOR;
        }
        else
        {
            return BETWEEN_ZERO_AND_FULL_TIME_COLOR;
        }
    }
}
